# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.venv
venv/

# mypy
.mypy_cache/

# VSCode
.vscode/

# Data files
*.csv
*.png
*.pickle
*.pkl
*.joblib
*.npy

# dvc plots
*.html

# XGBoost model
/model.json
